section.sections
    .container.sections__inner
        .sections__item.sections__item_women
            p 30% off
            h2 for women
        .sections__item.sections__item_men
            p hot deal
            h2 for men
        .sections__item.sections__item_kids
            p new arrivals
            h2 for kids
        .sections__item.sections__item_accesories
            p luxurious & trendy
            h2 accesories