.feature {
  padding: 104px 0;
  background-color: #222224;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__heading {
    @include fontSettings(20px, 24px, #fbfbfb);
    margin: 25px 0px 16px;
  }
  &__text {
    max-width: 316px;
    @include fontSettings(14px, 17px, #fbfbfb, 300);
  }
}
