.feature {
  padding: 104px 0;
  background-color: #222224;
  &__inner {
    @include flexSettings(row, nowrap, space-between, baseline);
  }
  &__item {
    @include flexSettings(column, nowrap, flex-start, center);
    width: 360px;
    height: 134px;
    text-align: center;
    h3 {
      @include fontSettings(20px, 24px, #fbfbfb);
      margin: 25px 0px 16px;
    }
    p {
      @include fontSettings(14px, 17px, #fbfbfb, 300);
      max-width: 316px;
    }
  }
}
