.footer {
  padding: 30px 0;
  background-color: #222224;
  &__inner {
    @include flexSettings(row, nowrap, space-between, center);
    p {
      @include fontSettings(16px, 19px, #fbfbfb);
    }
  }
  &__wrapper {
    display: flex;
    a {
      @include flexSettings(row, nowrap, center, center);
      width: 32px;
      height: 32px;
      background-color: #fff;
      margin-right: 8px;
      transition: all linear 0.1s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $secondaryColor;
        transition: all linear 0.1s;
        svg {
          fill: #fff;
          transition: all linear 0.1s;
        }
      }
      svg {
        fill: #000;
        transition: all linear 0.1s;
      }
    }
  }
}
