.header {
  width: 100%;
  padding: 17px 0;
  background-color: #222;
  &__inner {
    @include flexSettings(row, nowrap, space-between, center);
  }
  &__left,
  &__right {
    @include flexSettings(row, nowrap, flex-start, center);
  }
  &__logo {
    margin-right: 40px;
  }
  &__menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  &__item:not(:last-child) {
    margin-right: 33px;
  }
  &__item_relative {
    position: relative;
    .number {
      @include flexSettings(row, nowrap, center, center);
      @include fontSettings(12px, 14px, #fff);
      position: absolute;
      top: -9px;
      right: -9px;
      height: 19px;
      width: 19px;
      background: $secondaryColor;
      border-radius: 50%;
    }
  }
}
