.subscribe {
  background: url(../img/subscribe/bg_img.jpg) center/cover no-repeat
    rgba(244, 244, 244, 0.7);
  background-blend-mode: multiply;
  padding: 97px 0 156px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left,
  &__right {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    @include fontSettings(20px, 24px, #222224);
    text-align: center;
    margin-top: 30px;
  }
  &__title {
    max-width: 475px;
    @include fontSettings(18px, 22px, #222224);
    text-align: center;
    margin-bottom: 32px;
    .bold {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }
  }
  &__form {
    display: flex;
  }
  &__input {
    padding: 7px 22px;
    width: 256px;
    height: 49px;
    border: none;
    border-radius: 50px 0 0 50px;
    background: #e1e1e1;
    @include fontSettings(14px, 17px, #222224);
    opacity: 0.67;
    outline: none;
  }
  &__btn {
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 50px 50px 0;
    background: $secondaryColor;
    cursor: pointer;
    @include fontSettings(14px, 17px, #fff);
    transition: all linear 0.1s;
    &:hover {
      color: $secondaryColor;
      background: #fff;
      transition: all linear 0.1s;
    }
  }
}
