.subscribe {
  background: url(../img/subscribe/bg_img.jpg) center/cover no-repeat
    rgba(244, 244, 244, 0.7);
  background-blend-mode: multiply;
  padding: 97px 0 156px;
  &__inner {
    @include flexSettings(row, nowrap, space-between, center);
  }
  &__left,
  &__right {
    @include flexSettings(column, nowrap, flex-start, center);
    max-width: 360px;
  }
  p {
    @include fontSettings(20px, 24px, #222224);
    text-align: center;
    margin-top: 30px;
  }
  h2 {
    @include fontSettings(18px, 22px, #222224);
    max-width: 475px;
    text-align: center;
    margin-bottom: 32px;
    .bold {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }
  }
  form {
    display: flex;
  }
  &__input {
    @include fontSettings(14px, 17px, #222224);
    padding: 7px 22px;
    width: 256px;
    height: 49px;
    border: none;
    border-radius: 50px 0 0 50px;
    background: #e1e1e1;
    opacity: 0.67;
    outline: none;
  }
  &__btn {
    @include fontSettings(14px, 17px, #fff);
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 50px 50px 0;
    background: $secondaryColor;
    cursor: pointer;
    transition: all linear 0.1s;
    &:hover {
      color: $secondaryColor;
      background: #fff;
      transition: all linear 0.1s;
    }
  }
}
