include partials/mixins
doctype html
html(lang="en")
    include modules/common/head
    include modules/common/header
    body
        main
            include modules/includes/catalog/heading
            include modules/includes/catalog/products
            include modules/common/feature
            include modules/common/subscribe
        include modules/common/footer