include partials/mixins
doctype html
html(lang="en")
    include modules/common/head
    include modules/common/header
    body
        main
            include modules/includes/product/heading
            include modules/includes/product/slider
            include modules/includes/product/description
            include modules/includes/product/products
            include modules/common/subscribe
        include modules/common/footer