include partials/mixins
doctype html
html(lang="en")
    include modules/common/head
    body
        include modules/common/header
        main
            +heading("REGISTRATION")
            include modules/includes/registration/registration-body
            include modules/common/subscribe
        include modules/common/footer