.filter {
  @include flexSettings(row, nowrap, flex-start, center);
  padding: 51px 20px 64px;
  &__wrapper {
    @include flexSettings(row, nowrap, space-between, center);
    min-width: 690px;
  }
  &__main {
    @include fontSettings(14px, 17px, #000, 600);
    cursor: pointer;
    text-transform: uppercase;
    img {
      margin-left: 11px;
    }
  }
  &__sort {
    @include flexSettings(row, nowrap, flex-start, center);
    cursor: default;
  }
  &__item {
    @include fontSettings(14px, 17px, #6f6e6e);
    @include flexSettings(row, nowrap, flex-start, center);
    text-transform: uppercase;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    img {
      margin-left: 10px;
    }
  }
}
::-webkit-details-marker { display: none }
