.heading {
  padding: 60px 0;
  background: #f8f3f4;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    @include fontSettings(24px, 29px, $secondaryColor);
    text-transform: uppercase;
  }
  &__breadcrumbs,
  .heading__link {
    @include fontSettings(14px, 17px, #636363, 300);
    text-transform: uppercase;
    .heading__link_active {
      font-weight: 700;
      color: $secondaryColor;
    }
  }
}
