section.feature
    .container.feature__inner
        .feature__item
            img(src="img/feature/feature_1.svg" alt="feature 1")
            h3 Free Delivery
            p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        .feature__item
            img(src="img/feature/feature_2.svg" alt="feature 2")
            h3 Free Delivery
            p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        .feature__item
            img(src="img/feature/feature_3.svg" alt="feature 3")
            h3 Free Delivery
            p Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.