header.header
    .container.header__inner
        .header__left
            a(href="/")
                img(src="img/header/logo.png" alt="logo")
            img(src="img/header/search.svg" alt="search")
        .header__right
            button.header__item.header__menu
                img(src="img/header/menu.svg" alt="menu")
            a.header__item(href="registration.html")
                img(src="img/header/registration.svg" alt="registration")
            a.header__item.header__item_relative(href="cart.html")
                img(src="img/header/cart.svg" alt="cart")
                span 5