section.subscribe
    .container.subscribe__inner
        .subscribe__left
            img(src="img/subscribe/photo.png" alt="photo")
            p “Vestibulum quis porttitor dui! Quisque viverra nunc mi, <i>a pulvinar purus condimentum</i>“
        .subscribe__right
            h2
                span.bold SUBSCRIBE 
                | FOR&nbsp;OUR&nbsp;NEWLETTER&nbsp;AND&nbsp;PROMOTION
            form(method="POST")
                input.subscribe__input(type="email" placeholder="Enter Your Email")
                input.subscribe__btn(type="button" value="Subscribe")