.heading
    .container.heading__inner
        h2 New Arrivals
        .heading__breadcrumbs
            a.heading__link(href="/") HOME 
            | / 
            a.heading__link(href="#") MEN 
            | / 
            a.heading__link.heading__link_active(href="#") NEW ARRIVALS