section.products
    .container.products__inner
        +productCard("img/products/product_4.jpg", "product 1")
        +productCard("img/products/product_3.jpg", "product 2")
        +productCard("img/products/product_6.jpg", "product 3")