.description {
  @include flexSettings(column, nowrap, center, center);
  text-align: center;
  padding: 60px 0;
  outline: 1px solid #eaeaea;
  margin-top: -64px;
  margin-bottom: 130px;
  background-color: #fff;
  position: relative;
  z-index: 1000;
  h2 {
    @include fontSettings(14px, 17px, $secondaryColor, 300);
    text-transform: uppercase;
    &::after {
      display: block;
      content: "";
      width: 63px;
      height: 3px;
      background: $secondaryColor;
      margin: 12px auto;
    }
  }
  &__subtitle {
    @include fontSettings(18px, 22px, #4d4d4d, 300);
    margin-bottom: 48px;
    text-transform: uppercase;
  }
  &__text {
    max-width: 550px;
    @include fontSettings(14px, 17px, #5e5e5e, 300);
    margin-bottom: 32px;
  }
  &__price {
    min-width: 641px;
    @include fontSettings(24px, 29px, $secondaryColor, 300);
    margin-bottom: 65px;
    padding-bottom: 65px;
    box-shadow: 0 1px 0 #eaeaea;
  }
  button {
    @include fontSettings(16px, 19px, $secondaryColor);
    @include flexSettings(row, nowrap, flex-start, center);
    background: none;
    border: none;
    outline: 1px solid $secondaryColor;
    padding: 14px 23px;
    cursor: pointer;
    transition: all linear 0.2s;
    margin-top: 50px;
    svg {
      fill: $secondaryColor;
      margin-right: 23px;
    }
    &:hover {
      background: $secondaryColor;
      color: #fff;
      transition: all linear 0.2s;
      svg {
        fill: #fff;
        transition: all linear 0.2s;
      }
    }
  }
}
