@keyframes move {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translateX(490px) rotate(90deg);
  }
  50% {
    transform: translateX(-490px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes move2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bgColor {
  0% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 100%) }
  5% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 95%) }
  10% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 90%) }
  15% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 85%) }
  20% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 80%) }
  25% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 75%) }
  100% { background: linear-gradient(to bottom, rgb(146, 228, 79), #ff80f4 100%) }
}

.products {
  padding-bottom: 96px;
  animation: bgColor linear 1s infinite;
  h2 {
    @include fontSettings(30px, 36px, #222);
    text-align: center;
    margin-bottom: 6px;
  }
  &__subtitle {
    @include fontSettings(14px, 17px, #9f9f9f);
    text-align: center;
    margin-bottom: 48px;
  }
  &__inner {
    @include flexSettings(row, wrap, space-between);
    margin-bottom: 18px;
    article {
      width: 360px;
      height: 581px;
      background-color: #f8f8f8;
      margin-bottom: 30px;
      animation: move2 linear 10s infinite;
      &:hover {
        .products__hover {
          opacity: 1;
          transition: all linear 0.2s;
        }
      }
    }
  }
  &__img {
    position: relative;
    min-height: 420px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__hover {
    @include flexSettings(row, nowrap, center, center);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: all linear 0.1s;
    button {
      @include flexSettings(row, nowrap, flex-start, center);
      @include fontSettings(14px, 17px, #fff);
      background: none;
      border: 1px solid #fff;
      padding: 10px 13px;
      cursor: pointer;
      transition: all linear 0.1s;
      svg {
        margin-right: 11px;
        fill: #fff;
        transition: all linear 0.1s;
      }
      &:hover {
        color: #000;
        background: #fff;
        transition: all linear 0.1s;
        svg {
          fill: #000;
          transition: all linear 0.1s;
        }
      }
    }
  }
  &__info {
    padding: 25px 18px 20px;
    h3 {
      @include fontSettings(13px, 16px, #000);
      margin-bottom: 13px;
    }
    p {
      max-width: 318px;
      @include fontSettings(14px, 17px, #5d5d5d, 300);
      margin-bottom: 18px;
    }
    span {
      @include fontSettings(16px, 19px, $secondaryColor);
    }
  }
  &__wrap {
    @include flexSettings(row, nowrap, center, center);
    a {
      @include fontSettings(16px, 19px, $secondaryColor);
      outline: 1px solid $secondaryColor;
      padding: 14px 38px;
      transition: all linear 0.2s;
      animation: move linear 2s infinite;
      &:hover {
        color: #fff;
        background-color: $secondaryColor;
        transition: all linear 0.2s;
      }
    }
  }
}
