.sections {
  padding: 65px 0 96px 0;
  &__inner {
    @include flexSettings(row, wrap, space-between);
  }
  &__item {
    @include flexSettings(column, nowrap, center, center);
    width: 31.5%;
    height: 260px;
    margin-bottom: 30px;
    &:last-child {
      width: 100%;
      margin-bottom: 0;
    }
    &_women {
      background: url(../img/sections/for_women.jpg) $sectionsColor center/cover;
      background-blend-mode: multiply;
    }
    &_men {
      background: url(../img/sections/for_men.jpg) $sectionsColor center/cover;
      background-blend-mode: multiply;
    }
    &_kids {
      background: url(../img/sections/for_kids.jpg) $sectionsColor center/cover;
      background-blend-mode: multiply;
    }
    &_accesories {
      background: url(../img/sections/accesories.jpg) $sectionsColor center/cover;
      background-blend-mode: multiply;
    }
    p {
      @include fontSettings(16px, 19px, #fff);
      text-transform: uppercase;
    }
    h2 {
      @include fontSettings(24px, 29px, $secondaryColor, 700);
      text-transform: uppercase;
    }
  }
}
