.sections {
  padding: 65px 0 96px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
    margin-bottom: 30px;
    &_women {
      background: url(../img/sections/for_women.jpg) $sectionsColor;
      background-blend-mode: multiply;
    }
    &_men {
      background: url(../img/sections/for_men.jpg) $sectionsColor;
      background-blend-mode: multiply;
    }
    &_kids {
      background: url(../img/sections/for_kids.jpg) $sectionsColor;
      background-blend-mode: multiply;
    }
    &_accesories {
      background: url(../img/sections/accesories.jpg) $sectionsColor;
      background-blend-mode: multiply;
    }
  }
  &__item:last-child {
    width: 100%;
    margin-bottom: 0;
  }
  &__suptitle {
    @include fontSettings(16px, 19px, #fff);
    text-transform: uppercase;
  }
  &__title {
    @include fontSettings(24px, 29px, $secondaryColor, 700);
    text-transform: uppercase;
  }
}
